.orders-wrapper {
    padding: 20px;
}

.header-bar {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

.order-box {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* ✅ Κεντράρει κάθετα τα κουμπιά και το badge */
}

.order-box.order-completed {
    background-color: #4cff00;
    font-weight: bold;
}

.order-items {
    font-size: 16px;
    flex: 1;
    margin-right: 20px;
}


.order-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.new-order-btn-wrapper {
    text-align: right;
    margin-top: 30px;
}

.new-order-btn {
    padding: 10px 20px;
    font-size: 16px;
}

.order-actions form,
.order-actions a,
.order-actions span {
    display: inline-block;
    margin-right: 10px;
}